<div class="content"></div>

<!-- Templates -->
<script type="text/template" id="tmpl_repo">
<% if current_user %>
    <div class="form-inline">
        <input type="text" class="input-large" placeholder="github 'user/repo'">
        <button id="fetch" type="submit" class="btn">Fetch</button>
        <p>
            <span data-beforeicon="&#xe054;">Type a github username/repository that you have access to.</span>
        </p>
    </div>
<% else %>
    <section>
        <h3>
            Ok, how does it work?
        </h3>
        <ol>
            <li><span>Log in with your Github profile</span></li>
            <li><span>Search for your repos and milestone</span></li>
            <li><span>View burndown charts and lists of open and closed issues</span></li>
            <li><span>burn down before you burn out</span></li>
        </ol>
    </section>
    <section>
        <h3>
            what is this?
        </h3>
        <p>
            Lorizzle ipsizzle dolor sit amet, i’m in the shizzle adipiscing elizzle. Rizzle stuff velizzle, bizzle volutpizzle,
            that’s the shizzle shizzle my nizzle crocodizzle, gravida vizzle, brizzle. Pellentesque eget tortizzle. Sizzle erizzle.
            Tellivizzle break yo neck, yall dolizzle mammasay mammasa mamma oo sa rizzle tempizzle shut the shizzle up. Maurizzle break
            it down nibh izzle that’s the shizzle.
        </p>
    </section>
    <section>
        <h3>
            wait, what’s a burndown?
        </h3>
        <p>
            A burn down chart is graphical representation of work left to do versus time.
            The outstanding work (or backlog) is often on the vertical axis, with time along the horizontal.
            That is, it is a run chart of outstanding work. It is useful for predicting when all of the work will be completed.
        </p>
    </section>
    <section>
        <h3>
            Can I contribute?
        </h3>
        <p>
            Etiam bling bling magna sed augue sizzle accumsizzle. Nizzle izzle shiznit.
            Shit i saw beyonces tizzles and my pizzle went crizzle dolizzle, shizzlin dizzle vitae, pot izzle, ass in, ass.
            Vestibulum shiz ipsum sure izzle faucibus orci nizzle izzle crackalackin posuere cubilia Crunk; fo shizzle. Mofo sizzle.
        </p>
        <a href="">Check out the project on GitHub</a>
    </section>
<% end %>
    {{ if (message.has('title')) { }}
    <div class="error">
        <span data-beforeicon="&#xe010;">{{=message.get('text')}}</span>
    </div>
    {{ } }}

    {{ if (milestones.length > 0) { }}
    <div class="milestones">
        <h3>Milestones in USERNAME/REPO HERE RITI</h3>
        <ul>
        {{ _.each(milestones, function (milestone, i) { }}
            <li>
                <a href="#{{=session.getURL()}}/{{=i}}" title="{{=milestone.get('title')}}">
                    {{=milestone.get('title')}}
                </a>
            </li>
        {{ }); }}
        </ul>
    </div>
    {{ } }}
</script>

<script type="text/template" id="tmpl_milestone">
    <div class="milestone">
        <a href="#{{=session.getURL()}}" class="back" title="back to list of milestones">Back</a>

        <div class="meta_issues">
            <h3>{{=milestone.get('title')}}</h3>
            <div class="due_date{{ if (!milestone.has('due_on')) { }} nodate{{ } }}">
                {{ if (milestone.has('due_on')) { }}
                <span data-beforeicon="&#xe009;">due: {{=milestone.get('due_on')}}</span>
                {{ } else { }}
                <span data-beforeicon="&#xe015;">no due date!</span>
                {{ } }}
            </div>
            <ul>
                <li>Issues: </li>
                <li>
                    <a href="#open-issues" title="view open issues">Open [{{=milestone.get('open_issues')}}]</a>
                </li>
                <li>+</li>
                <li>
                    <a href="#closed-issues" title="view closed issues">Closed [{{=milestone.get('closed_issues')}}]</a>
                </li>
                <li>=</li>
                <li>Total [{{=milestone.getNumIssues()}}]</li>
            </ul>
        </div>
        <div class="created">
            created by {{=milestone.getCreator()}} on {{=milestone.get('created_at')}}
        </div>

        <div class="chart_wrapper">
            <div id="chart_container">
                <div id="y_axis"></div>
                <div id="chart"></div>
            </div>
            <div id="legend"></div>
        </div>

        <div id="open-issues">
            <h3>Open Issues <small>[{{=milestone.get('open_issues')}}]</small></h3>
            <div class="open"></div>
        </div>
        <div id="closed-issues">
            <h3>Closed Issues <small>[{{=milestone.get('closed_issues')}}]</small></h3>
            <div class="closed"></div>
        </div>
    </div>
</script>

<script type="text/template" id="tmpl_issues">
    <ul>
    {{ _.each(issues, function (issue, i) { }}
        <li>{{=issue.createLink()}}</li>
   {{ }); }}
    </ul>
</script>

<script type="text/template" id="tmpl_loading">
    <div>Loading...</div>
</script>

<script type="text/template" id="tmpl_error">
    <div class="errors">
        <h4>Error!</h4>
        {{=error.message}}
    </div>
</script>
