<div class="content"></div>

<!-- Templates -->
<script type="text/template" id="tmpl_repo">
<% if current_user %>
    <div class="form-inline">
        <input type="text" class="input-large" placeholder="github 'user/repo'" autofocus>
        <button id="fetch" type="submit" class="btn">View Repository</button>
        <p>
            <span data-beforeicon="&#xe054;">Type a Github username/repository that you have access to.</span>
        </p>
    </div>
<% else %>
    <section class="right">
        <h3>
            Ok, how does it work?
        </h3>
        <ol>
            <li><span><%= link_to "Sign in with your Github credentials", "/auth/github" %></span></li>
            <li><span>Search for your repos and milestone</span></li>
            <li><span>View burn down charts and lists of open and closed issues</span></li>
            <li><span>??</span></li>
            <li><span>Burndown before you burn out</span></li>
        </ol>
    </section>

    <section class="left">
        <h3>
            What is this?
        </h3>
        <p>
            At <a href="http://dev.appneta.com" title="Appneta Design and Development" target="_blank">AppNeta</a>, we wanted a way to see
            how we are doing on closing issues in our milestones. So we put together a service to see if we were going to finish on time.
            We figured this might be useful for others, so we put it on the interwebs, through a series of tubes.
        </p>
    </section>

    <section class="right">
        <h3>
            Is it safe to sign in to Github?
        </h3>
        <p>
            Sure, we don’t store any of your credentials. We just use the info to query the Github API to look up your repos and milestones.
            We never store anything, revoke access any time you want.
        </p>
    </section>

    <section class="left">
        <h3>
            Wait, what’s a burn down chart?
        </h3>
        <p>
            A burn down chart is a representation of work left to do versus time.
            The outstanding work is on the y-axis, with time along the x-axis.
            <br>
            <a href="http://en.wikipedia.org/wiki/Burn_down_chart" title="Thanks Wikipedia" target="_blank">Thanks Wikipedia!</a>
        </p>
    </section>

    <section class="left">
        <h3>
            Can I contribute?
        </h3>
        <p>
            Sure! Take a look at the project on <a href="https://github.com/appneta/burndown" title="view on Github">Github</a>, submit a pull request,
            file an issue, contribute anyway you want.
        </p>
        <a href="https://github.com/appneta/burndown" title="view on Github" class="to_github">Check out the project on GitHub</a>
    </section>
<% end %>

{{ if (message.has('title')) { }}
    <div class="error">
        <span data-beforeicon="&#xe010;">{{=message.get('text')}}</span>
    </div>
{{ } else { }}
    {{ if (session.has('owner') && session.has('repo')) { }}
    <div class="milestones">
        <h3>Milestones in {{=session.getURL()}}</h3>
        {{ if (milestones.length > 0) { }}
        <ul>
        {{ _.each(milestones, function (milestone, i) { }}
            <li>
                <a href="#{{=session.getURL()}}/{{=milestone.get('number')}}" title="{{=milestone.get('title')}}">
                    {{=milestone.get('title')}}

                    <span>
                        <strong>{{=milestone.get('open_issues')}}</strong>
                        +
                        {{=milestone.get('closed_issues')}}
                        =
                        {{=milestone.getNumIssues()}}
                    </span>
                </a>
            </li>
        {{ }); }}
        </ul>
        {{ } else { }}
        <div class="error">
            <span data-beforeicon="&#xe010;">This repository has no milestones!</span>
        </div>
        {{ } }}
        <h3>Experimental</h3>
        <ul>
            <li>
                <a href="#{{=session.getURL()}}/summary">30 Day Summary</a>
            </li>
        </ul>
    </div>
    {{ } }}
{{ } }}
</script>

<script type="text/template" id="tmpl_milestone">
    <div class="milestone">
        <a href="#{{=session.getURL()}}" class="back" title="back to list of milestones">Back</a>

        <div class="meta_issues">
            <h3>
                {{=milestone.get('title')}}
                <span>{{=session.getURL()}}</span>
                {{ if (milestone.has('due_on')) { }}
                    <small class="duration">[{{=milestone.getMilestoneLength()}} long burndown]</small>
                {{ } }}
            </h3>
            <div class="due_date{{ if (!milestone.has('due_on')) { }} nodate{{ } }}">
                {{ if (milestone.has('due_on')) { }}
                    {{ if (new Date(milestone.get('due_on')) < new Date(Date.now())) { }}
                        <span data-beforeicon="&#xe009;" class="overdue">
                            danger! milestone was
                            <br>
                            due {{=milestone.getDueDateFormatted()}}
                        </span>
                    {{ } else { }}
                        <span data-beforeicon="&#xe009;">
                            due {{=milestone.getDueDateFormatted()}}
                            <br>
                            in about {{=milestone.getMilestoneCountdown()}}
                        </span>
                    {{ } }}
                {{ } else { }}
                <span data-beforeicon="&#xe015;">
                    no due date!
                    <a target="_blank" href="{{=milestone.getEditLink()}}" title="Add a due date for this milestone to properly burn-it-down">admins, add one!</a>
                </span>
                {{ } }}
            </div>
        </div>
        <div class="created">
            {{=milestone.getCreator()}} created milestone on {{=milestone.getCreatedDateFormatted()}}
        </div>
        <ul class="issue_math">
            <li class="jump">
                <a href="#open-issues" title="view open issues">Open [{{=milestone.get('open_issues')}}]</a>
            </li>
            <li class="join">+</li>
            <li class="jump">
                <a href="#closed-issues" title="view closed issues">Closed [{{=milestone.get('closed_issues')}}]</a>
            </li>
            <li class="join">=</li>
            <li>Total [{{=milestone.getNumIssues()}}]</li>
        </ul>
        <ul class="completeness">
            <li>total</li>
            <li style="width:{{=milestone.getPercentComplete()}}%;"></li>
            <li>{{=milestone.getPercentComplete()}}%</li>
        </ul>
        <div class="chart_wrapper">
            {{ if (milestone.get('closed_issues') > 0) { }}
            <div id="chart_container">
                <div id="y_axis"></div>
                <div id="chart"></div>
            </div>
            {{ } else { }}
                <h2>~ A Burndown Haiku ~</h2>
                <p>
                without closing issues
                <br>
                there can be no GitHub peace
                <br>
                open&nbsp;&raquo;&nbsp;closed is the way
                </p>
            {{ } }}
            <div id="legend"></div>
        </div>

        <div id="open-issues">
            <h3>Open Issues <small>[{{=milestone.get('open_issues')}}]</small></h3>
            <span class="legend" data-beforeicon="&#xe009;">open</span>
            <div class="open"></div>
        </div>
        <div id="closed-issues">
            <h3>Closed Issues <small>[{{=milestone.get('closed_issues')}}]</small></h3>
            <span class="legend" data-beforeicon="&#xe009;">open</span>
            <div class="closed"></div>
        </div>
    </div>
</script>

<script type="text/template" id="tmpl_issues">
    <ul>
    {{ if (issues.length > 0) { }}
        {{ _.each(issues, function (issue, i) { }}
            <li>{{=issue.createLink()}}</li>
        {{ }); }}
    {{ } else { }}
        <li class="empty_open">
            <h2>~ A Burndown Haiku ~</h2>
            <p>
                when none are open
                <br>
                the Burndown has been vanquished
                <br>
                the GitHub abides
            </p>
        </li>
        <li class="empty_closed">
            <h2>~ A Burndown Haiku ~</h2>
            <p>
                empty retains shape
                <br>
                when closed is its structure type
                <br>
                commits truly void
            </p>
        </li>
    {{ } }}
    </ul>
</script>

<script type="text/template" id="tmpl_loading">
    <div>
        <img src="assets/burndown_dance.gif" alt="Fetching Issues from GitHub" class="loading" />
    </div>
</script>

<script type="text/template" id="tmpl_error">
    <div class="errors">
        <h4>Error!</h4>
        {{=error.message}}
    </div>
</script>

<script type="text/template" id="tmpl_summary">
    <div class="summary">
        <a href="#{{=session.getURL()}}" class="back" title="back to repository">Back</a>
        <div class="meta_issues">
            <h3>
                <span>{{=session.getURL()}}</span>
                30 Day Summary
            </h3>
            {{ if (loaded && (created.length > 0 || resolved.length > 0)) { }}
            <ul class="issue_math">
                <li class="jump">
                    <a href="#closed-issues" title="view open issues">Closed [{{=resolved.length}}]</a>
                </li>
                <li class="join">
                    {{ if (resolved.length > created.length) { }}
                    >
                    {{ } else if (resolved.length === created.length) { }}
                    =
                    {{ } else { }}
                    <
                    {{ } }}
                </li>
                <li class="jump">
                    <a href="#open-issues" title="view closed issues">Created [{{=created.length}}]</a>
                </li>
                <li class="join">=</li>
                <li>
                    {{ if (resolved.length > created.length) { }}
                    <span class="eval burning">&nbsp;on fire!</span>
                    {{ } else if (resolved.length === created.length) { }}
                    <span class="eval">&nbsp;breakin’ even</span>
                    {{ } else { }}
                    <span class="eval coldasice">&nbsp;get closin’</span>
                    {{ } }}
                </li>
            </ul>
            {{ } }}
        </div>
    {{ if (loaded) { }}
        <div class="chart_wrapper">
            <div id="chart_container">
                <div id="y_axis"></div>
                <div id="chart"></div>
            </div>
            <div id="legend"></div>
        {{ if (created.length === 0 || resolved.length === 0) { }}
            <div class="empty_chart">
                Not enough issues to draw a graph! =(
            </div>
        {{ } }}
        </div>

        <div id="open-issues">
            <h3>Created Issues <small>[{{=created.length}}]</small></h3>
            <span class="legend" data-beforeicon="&#xe009;">open</span>
            <div class="open"></div>
        </div>

        <div id="closed-issues">
            <h3>Closed Issues <small>[{{=resolved.length}}]</small></h3>
            <span class="legend" data-beforeicon="&#xe009;">open</span>
            <div class="closed"></div>
        </div>
    {{ } else { }}
        <div class="loading">
            loading...
        </div>
        <dl class="progress">
            <dt>Fetching Open Issues&hellip;</dt>
            <dd>
                <span style="width: {{=progress.open}}%;">
                    {{=progress.open}}%
                </span>
            </dd>
            <dt>Fetching Closed Issues&hellip;</dt>
            <dd>
                <span style="width: {{=progress.closed}}%;">
                    {{=progress.closed}}%
                </span>
            </dd>
        </dl>
    {{ } }}
   </div>
</script>
